@font-face {
	font-family: 'Poppins', sans-serif;
	src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap);
}
@font-face {
	font-family: 'Lato';
	src: url(../../assets/font/Lato/Lato-Regular.ttf);
}
